# NOX SPARROW BOT environment variables
PORT=3000
API_KEY=
NEOXR_API_BASE=https://api.neoxr.my.id
OPENAI_KEY=
GEMINI_KEY=
API_NINJAS_KEY=
BOT_NAME=𝙽𝙾𝚇 𝚂𝙿𝙰𝚁𝚁𝙾𝚆 𝙱𝙾𝚃
OWNER_NAME=NOX STAR.B
OWNER_NUMBER=
PREFIX=.
